* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

body {
    text-align: center;
}

.playGround {
    display: flex;
    justify-content: center;
}

.emoji {
    font-size: 10rem;
    display: flex;
    text-indent: -0.08em;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    line-height: 1.2em;
    cursor: pointer;
}

.emoji.scissor {
    line-height: 1.28em;
}

.emoji:hover {
    background-color: beige;
}

.score {
    display: flex;
    justify-content: center;
}
