* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: bisque;
    flex-wrap: wrap;
}

.main-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title,
.score,
.game-log {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.playGround {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.emoji {
    font-size: min(10rem, 20vw);
    display: flex;
    text-indent: -0.08em;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    line-height: 1.2em;
    cursor: pointer;
    user-select: none;
}

.emoji.scissor {
    line-height: 1.28em;
}

.emoji:hover {
    background-color:antiquewhite;
}

.emoji:active {
    background-color:rgba(128, 128, 128, 0.15);
}

.score {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    gap: 2rem;
}

.title {
    font-size: 3rem;
}

.game-log {
    display: flex;
    font-size: 2rem;
    align-self:center;
    gap: 1.35em;
    background-color:cornsilk;
    padding: 0.75em;
    border-radius: 12px;
    margin: 1.5em;
}

.log {
    min-width: 8ch;
    font-weight: 600;
}

.log > * {
    margin-top: 0.3em;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 0.2em;
}

.winner {
    border-radius: 10px;
    background-color: lime;
}


#player,
#computer {
    font-size: 2.75rem;
}